/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

/* Container */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 10px;
  }
}

/* Header */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-bottom: 30px;
}

/*Make the header more visually appealing*/
h1 {
  font-size: 42px;
  font-weight: bold;
}

/* Start Button */
#start-game-btn {
  background-color: #4CAF50;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
  display: block;
  margin: 0 auto;
  width: 200px;
}

#start-game-btn:hover {
  background-color: #3e8e41;
}

/* Quiz Container */
.hide {
  display: none;
}

#result {
  font-size: 20px;
  font-weight: 600;
  color: #444;
  margin-bottom: 16px;
  text-align: center;
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 12px 24px;
  border-radius: 8px;
  
}

#game-container {
  padding: 20px;
  margin-bottom: 20px;
}

#question-container {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

/* Choices Container */
#choices-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 20px;
}

.choice-btn {
  display: block;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  max-width: 300px;
  text-align: center;
  transition: background-color 0.2s ease-in-out;
}

.choice-btn:hover {
  background-color: #3e8e41;
}

/* Score Container */
#score-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Countdown Timer */
#timer-container {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

/* Play Again Button */
#play-again-btn {
  background-color: #4CAF50;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
  display: block;
  margin: 0 auto;
  width: 200px;
}

#play-again-btn:hover {
  background-color: #3e8e41;
}
